{% extends 'base.html' %}
{% block content %}

        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">About Us</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Welcome to Arzu's Wardrobe</p>
                </div>
            </div>
        </header>
        <div class="container">
            <div class="row">
                <center>
                    <div class="col-8">
                        <br/><br/>
                        <p align="justify">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam lacinia, justo non tristique rutrum, ex ante volutpat ipsum, quis luctus tortor ligula eget massa. Duis luctus justo commodo lectus imperdiet vulputate. Suspendisse vehicula lacus ut pretium vestibulum. Praesent et lectus libero. Morbi tempor dignissim lorem vel malesuada. Vivamus lacus ante, dignissim bibendum accumsan ac, egestas sed nisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eu vulputate mi.<br/><br/>

Etiam mollis tellus ligula, in aliquet sem dignissim eu. Vivamus imperdiet purus sit amet enim posuere, vel efficitur purus mattis. Sed nec erat ut tellus suscipit dapibus. Maecenas faucibus nulla lorem, a vulputate nisl molestie sed. In sodales sem quis ultrices eleifend. Praesent in nisi lectus. Fusce feugiat laoreet tempus. In vehicula justo nec vulputate scelerisque. Pellentesque eu sapien eget nulla suscipit vulputate. Fusce quam urna, consequat in pharetra sit amet, iaculis in sem. Morbi et nisl malesuada, consectetur neque a, consectetur odio. Phasellus vitae bibendum ante, commodo pulvinar nulla. Etiam sit amet dui congue diam fringilla rutrum at at mauris. Sed commodo porttitor blandit. In hac habitasse platea dictumst. Curabitur a pulvinar augue.<br/><br/>

Nunc orci libero, blandit et dictum eu, lacinia in arcu. Aliquam nisl orci, maximus quis lacus et, interdum porta turpis. In pulvinar, ante quis condimentum ullamcorper, mi lacus efficitur odio, eget malesuada neque libero at nisi. Integer interdum dolor a ipsum porttitor, sed mollis purus vehicula. Nunc sem mi, pretium vitae odio sit amet, scelerisque pulvinar diam. Phasellus ultricies imperdiet lorem sit amet molestie. Aenean metus neque, tristique at posuere at, lacinia et felis. Ut accumsan massa nisi, eget viverra est pellentesque sit amet. Fusce pretium nisl non mattis aliquet. Etiam maximus dolor consequat scelerisque lobortis. Aliquam lectus lorem, suscipit a bibendum et, cursus sit amet lorem.<br/><br/>
                        </p>
                    </div>
                </center>
            </div>
        </div>

{% endblock%}