{% if user.is_authenticated %}
              
<li class="nav-item dropdown">
         <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Profile</a>
         <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
             <li><a class="dropdown-item" href="{% url 'update_user' %}">User Profile</a></li>
             <li><hr class="dropdown-divider" /></li>
<li><a class="dropdown-item" href="{% url 'update_info'  %}">User Info</a></li>
                         </ul>
                     </li>
         {% if user.is_superuser %}
           <li class="nav-item dropdown">
         
         <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Orders</a>
         <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
             <li><a class="dropdown-item" href="{% url 'shipped_dash' %}">Shipped Orders</a></li>
             <li><hr class="dropdown-divider" /></li>
<li><a class="dropdown-item" href="{% url 'not_shipped_dash'  %}">UnShipped Orders</a></li>
                         </ul>
                     </li>
         {% endif %}


            <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
         {% else %}
            <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>

            <li class="nav-item"><a class="nav-link" href="{% url 'register' %}">Register</a></li>

         {% endif %}